<%= stylesheet_link_tag "home/home" %>
<div class="home-background">
  <div class="container">
    <h1 class="title">Welcome to minesweeper</h1>
    <div class="form-control">
      <h2 class="description">Please enter your email before continue:</h2>
      <%= render "email_form" %>
    </div>
  </div>
</div>
